<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style>
      header ul {
        margin: 0 0 0px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>ModRef 2023</h1>
        
        <h2>The 22nd workshop on Constraint Modelling and Reformulation</h2>
				<h3>August 27th, 2023; Part of <a href="https://cp2023.a4cp.org/">CP 2023</a></h3>

        <ul>
          <li><a href="#invtalks">Invited Talks</a></li>
          <li><a href="#callForPapers">Call for Papers</a></li>
          <li><a href="#importantDates">Important Dates</a></li>
        </ul>
        <ul>
          <li><a href="#programCommittee">Program Committee</a></li>
          <li><a href="#timetable">Program</a></li>
          <li><a href="#pmodrefs">Previous ModRefs</a></li>
        </ul>

        <strong>Contact the chairs:</strong> <a href="mailto:modref@a4cp.org">modref@a4cp.org</a>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
